.italic {
  font-style: italic;
}
.userAvatar {
  float: left;
  margin-right: 12px;
  width: 40px;
  border-radius: 40px;
}
.wrapper {
  display: flex;
}
.content {
  display: flex;
  flex-direction: column;
}
.quotes {
  font-size: 12px;
  line-height: 1.2em;
}
